@import './variables.scss';

:root {
    --main-color: #333333;
    --white-color: #FFFFFF;
    --gray-color: #D6D6D6;
    --bg-color: #E5E5E5;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    
}

.container {
    width: 1920px;
    @media (max-width: $Desktop2) {
        width: $Desktop2;
    }
    @media (max-width: $Desktop3) {
        width: $Desktop3;
    }
    @media (max-width: $Tablet) {
        width: $Tablet;
    }
    @media (max-width: $Mobile) {
        width: $Mobile;
    }
}

.AddaptiveBox {
    width: 1920px;
    margin: 0 220px;
    gap: 32px;

    @media (max-width: $Desktop2) {
        width: $Desktop2;
        margin: 0 32px;
    }
    @media (max-width: $Desktop3) {
        width: $Desktop3;
        margin: 0 32px;
    }
    @media (max-width: $Tablet) {
        width: $Tablet;
        margin: 0 20px;
    }   
    @media (max-width: $Mobile) {
        width: $Mobile;
        margin: 0 16px;
    }
}