@import '../../global-styles/variables.scss';

.headerWrapper {
    background: red;
    width: 1920px;
    height: 133px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 200px;
    gap: 568px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

h3 {
    font-family: $secondary-font;
}

.Header-Menu {
    display: flex;
    flex-direction: row;
}